*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 133px 30px 133px 30px;
}

.result {
}

.result__video {
  padding: 78px 0px 0px 0px;
  width: 100%;
}

.result__video-container {
  padding-bottom: 16px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  gap: 40px;
}

.title {
  padding-bottom: 26px;
}

.content__details {
  display: flex;
  flex-direction: column;
  padding-inline-start: 30px;
  height: 100%;
}

.content__list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 347px;
}